$firstColor: #A8FF35FF;
$greenColor: #87D322FF;
$greenColor2: #8CC83AFF;
$blackColor: #020202FF;
$blackColor2: #2B2B2BFF;
$greyColor: #2B2B2BFF; 
$greyColor2: #ADADADFF;
$greyColor3: #F5F5F5FF;
$greyColor4: #F1F1F1FF;
$whiteColor: #ffffff;

$borderFull: 1px solid rgb(221, 0, 0);
