.work {
    margin-top: 50px;
    padding: 140px 0;
    background-color: $firstColor;
}

.work__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work__title {
    color: #000;
    text-align: center;
    font-family: 'Effra-medium';
}

.work__box {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 26px;

    .about__arrow {
        display: flex;
        flex-direction: column;

        p {
            color: #000;
            text-align: center;
            font-family: 'Gooddog-new';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &:nth-child(1) {
            img {
                transform: rotate(-72.057deg);
                align-self: flex-end;
            }
    
            p {
                transform: rotate(6deg);
            }
        }
    }
}

.work__item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 502px;
    width: 100%;
    padding: 0 80px;
    height: 202px;
    border-radius: 16px;
    background-color: $whiteColor;

    .item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 341px;
        height: 82px;
        background-color: #030303;

        h3 {
            font-family: 'Roboto-regular';
            font-size: 23.806px;
            line-height: normal;
            transform: translateX(25px);
            color: #FFF;
        }

        img {
            width: 31px;
            height: 31px;
            transform: translateX(10px);
        }
    }

    .item--hidden {
        width: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: linear-gradient(270deg, #030303 53.65%, rgba(3, 3, 3, 0.60) 100%) !important;
        z-index: 1;

        svg {
            margin-left: 20px;
            cursor: pointer;
        }
    }
}

.work__text {
    margin-top: 60px;
    text-align: center;
    font-family: 'Effra-medium';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #000;
}