.header {
    display: flex;
    align-items: center;
    height: 99px;
    overflow: hidden;
}

.box__line {
    display: flex;
    justify-content: center;
    gap: 80px;
    overflow: hidden !important;
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0;
    z-index: -100;

    img {
        max-width: 1280px;
        width: 100%;
        height: auto;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 40px;
        height: auto;
    }

    h2 {
        font-family: 'Inter-bold';
        color: #fff;
        font-size: 24px;
        line-height: 100%;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    width: 100%;
    gap: 20px;
    border: $borderFull;
}

.menu__list {
    display: flex;
    gap: 40px;
    align-items: center;

    a {
        color: $whiteColor;
        text-align: center;
        font-family: 'Effra Medium';
        font-size: 18px;
        line-height: 100%;
        transition: color .2s linear;

        &:hover {
            color: $firstColor;
        }
    }
}

.menu__btns {
    display: flex;
    align-items: center;
    gap: 40px;

    a {
        &:nth-child(1) {
            color: #FFF;
            text-align: center;
            font-family: 'Effra-heavy';
            font-size: 18px;
            line-height: 100%;
            transition: color .2s linear;

            &:hover {
                color: $firstColor;
            }
        }

        &:nth-child(2) {
            padding: 12px 32px;
            border-radius: 40px;
            background-color: $whiteColor;
            color: #000;
            text-align: center;
            font-family: 'Effra-heavy';
            font-size: 18px;
            line-height: 100%;

            transition: .2s linear;

            &:hover {
                background-color: $firstColor;
                color: $whiteColor;
            }
        }
    }
}